body{
    background-color: #eceef1;
}
.navigation{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    margin: 0;
}
.Have-account{
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.2em;
    padding-left: 20px;
    text-align: center;
}

.nav-link{
    color: blue;
}
.sign-in{
    background-color: cornflowerblue;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 15px;
    border-width: 0.03rem;
}
.inuit-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}
i{
    padding: 0 10px;
}
.heading{
    color: grey;
    font-size: 30px;
    font-weight: 100;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.paragraph{
    color: grey;
    font-size: 15px;
    font-weight: 10;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Account-button{
    background-color: rgb(9, 85, 226);
    border-radius: 10px;
    height: 50px;
    width: 250px;
    color: white;
    font-size: 15px;
    border-width: 0.03rem;
}
.terms{
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}
.policy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
a{
    color: black;
    padding: 0 10px;
}
.footer-links:hover{
    cursor: pointer;
    color: black;
}
.footer-info{
    color: grey;
    font-size: 10px;
    font-weight: 10;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}