body{
    background-color: #eceef1;
}
.sign-up-page{
    margin:auto;
    height: 80%;
    width: 30%;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    padding:0;

}
.navigation{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    padding: 10px 30px;
    margin: 0;
    padding: 0;
}
.Have-account{
    font-family: Arial,sans-serif;
    line-height: 1.2em;
    padding-left: 20px;
    text-align: center;
}

.nav-link{
    color: blue;
}
.recovery-link{
    color:#0077c5;
    padding: 0 10px;
}

.recovery-link:hover{
    cursor: pointer;
}
.sign-in-button{
    background-color: cornflowerblue;
    height: 34px;
    color: white;
    background: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 0 20px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: normal;
}
.inuit-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
i{
    padding: 0 10px;
}
.heading{
    color: black;
    font-size: 25px;
    font-weight: 80;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 0;
}
.paragraph{
    color: grey;
    font-size: 15px;
    font-weight: 20;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#learn-more{
    color: rgb(9, 85, 226);
    font-size: 10px;
}
#learn-more:hover{
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px;
}
.text-input{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid grey;  
}
.labels{
    padding-bottom:10px;
}
#phone-text{
    font-size: 10px;
    margin: 2px;
}

.account-button{
    background-color: rgb(25, 97, 231);
    border-radius: 5px;
    height: 45px;
    width: 100%;
    color: white;
    font-size: 15px;
    border-width: 0.03rem;
}
.account-button:hover{
    cursor: pointer;
}
#lock{
    background-image: url(./images/pass-unlock.png);
    background-position: right;
    background-size: 25px;
    background-repeat: no-repeat;
}
.terms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    height: 140px;
    align-items: center;
}
.agreement:hover{
    cursor: pointer;
}
.policy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    height: 50px;
    background-color:rgb(218, 221, 226);
    align-items: center;
}
.privacy:hover{
    cursor: pointer;
}
footer{
    height:90px;
}
.footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    padding-top: 20px;
}
.footer-buttons:hover{
    cursor: pointer;
    color: black;
}
.footer-info{
    color: grey;
    font-size: 12px;
    font-weight: 10;
    font-family: AvenirNext,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.privacy-settings{
    /* float: left;
    height: 50px;
    color: white;
    background: #676969;
    border-radius: 3px;
    border: 1px solid #676969;
    margin-right: 80px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: normal;
    position: absolute; */
    vertical-align: middle;
    float: left;
}